@using HomeERP.Models.EAV.DTOs.Response
@using HomeERP.Models.EAV.Domain
@using Attribute = HomeERP.Models.EAV.Domain.Attribute
@using Object = HomeERP.Models.EAV.Domain.Object
@model Entity

@using (Html.BeginForm("CreateObject", "EAV", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="CreateObjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание объекта</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <input name="EntityId" type="hidden" value="@Model.Id" />
                    <div class="mb-3">
                        <label>Название объекта:</label>
                        <input name="ObjectName" class="form-control" type="text" required />
                    </div>
                    <h3>Значения атрибутов</h3>
                    <div id="fieldsContainer">
                        @{
                            int k = 0;
                            @foreach (Attribute Attribute in Model.Attributes)
                            {
                                <div class="d-flex flex-column">
                                    <div class="mb-3">
                                        <label>@Attribute.Name:</label>
                                        @{
                                            if (Attribute.Type == AttributeType.Integer)
                                            {
                                                <input name="RawAttributeValues[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                                <input name="RawAttributeValues[@k].AttributeType" type="hidden" value="Integer" />
                                                <input name="RawAttributeValues[@k].AttributeValue" class="form-control" type="number" />
                                            }
                                            else if (Attribute.Type == AttributeType.String)
                                            {
                                                <input name="RawAttributeValues[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                                <input name="RawAttributeValues[@k].AttributeType" type="hidden" value="String" />
                                                <input name="RawAttributeValues[@k].AttributeValue" class="form-control" type="text" />
                                            }
                                            else if (Attribute.Type == AttributeType.Date)
                                            {
                                                <input name="RawAttributeValues[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                                <input name="RawAttributeValues[@k].AttributeType" type="hidden" value="Date" />
                                                <input name="RawAttributeValues[@k].AttributeValue" class="form-control" type="date" />
                                            }
                                            else if (Attribute.Type == AttributeType.Link && Attribute is LinkAttribute LinkAttribute)
                                            {
                                                <input name="RawAttributeValues[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                                <input name="RawAttributeValues[@k].AttributeType" type="hidden" value="Link" />
                                                <select name="RawAttributeValues[@k].AttributeValue" class="form-select">
                                                    @foreach (Object Object in LinkAttribute.EntityObjects)
                                                    {
                                                        <option value="@Object.Id">@Object.Name</option>
                                                    }
                                                </select>
                                            }
                                            else if (Attribute.Type == AttributeType.File)
                                            {
                                                <input name="RawAttributeValues[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                                <input name="RawAttributeValues[@k].AttributeType" type="hidden" value="File" />
                                                <input name="RawAttributeValues[@k].File" class="form-control" type="file" />
                                            }
                                            else if (Attribute.Type == AttributeType.Float)
                                            {
                                                <input name="RawAttributeValues[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                                <input name="RawAttributeValues[@k].AttributeType" type="hidden" value="Float" />
                                                <input name="RawAttributeValues[@k].AttributeValue" class="form-control" type="text" />
                                            }
                                        }
                                    </div>
                                </div>
                                k++;
                            }
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </div>
        </div>
    </div>
}
