@using HomeERP.Domain.EAV.Models
@using Attribute = HomeERP.Domain.EAV.Models.Attribute
@using Object = HomeERP.Domain.EAV.Models.Object
@model Entity

@{
    await Html.RenderPartialAsync("CreateObject", Model);
    await Html.RenderPartialAsync("AddAttribute", Model.Id);
}
<div class="modal fade" id="ObjectHistoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Просмотр истории изменения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body" id="ObjectHistory">
            </div>
        </div>
    </div>
</div>

<div class="pb-3 w-100 h-auto">
    @{
        await Html.RenderPartialAsync("Filter", Model);
    }
</div>
@using (Html.BeginForm("EditObject", "EAV", FormMethod.Post, new { enctype = "multipart/form-data", @class = "h-75" }))
{
<div class="card w-100 h-100">
    <div class="card-header text-center d-flex flex-row justify-content-center" style="height:50px;"><h5 class="h-100 m-0 d-flex align-items-center pe-3">Просмотр имущества</h5></div>
    <div class="card-body overflow-auto p-0">
        <table id="table" class="table table-hover text-center m-0">
            <thead>
                <tr>
                    <th scope="col" style="width:50px"></th>
                    <th>Имя</th>
                        @foreach (Attribute Attribute in Model.Attributes)
                    {
                        <th scope="col" class="text-center">
                            <label>@Attribute.Name</label>
                            <button onclick="location.href='@Url.Action("DeleteAttribute", "EAV", new { AttributeId = Attribute.Id })'" type="button" class="deleteBtn" style="font-size: 30px">&times;</button>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    int k = 1;
                }
                    @foreach (Object Object in Model.Objects ?? Enumerable.Empty<Object>())
                {
                    <tr id="tableRow-@Object.Id" onclick="SelectObject('@Object.Id')">
                        <th scope="row">
                            <div style="height:50px" class="d-flex justify-content-center align-items-center">@k</div>
                        </th>
                        <td>
                            <div style="height:50px" class="d-flex justify-content-center align-items-center">
                                <input name="ObjectId" type="hidden" value="@Object.Id" disabled />
                                <input name="ObjectName" class="form-control form-control-sm w-auto text-center" disabled type="text" value="@Object.Name" />
                            </div>
                        </td>
                        @{
                            int j = 0;
                            k++;
                        }
                        @foreach (AttributeValue AttributeValue in Object.AttributeValues != null ? Object.AttributeValues : new List<AttributeValue>())
                        {
                            if (AttributeValue is IntegerAttributeValue IntegerAttributeValue)
                            {
                                <td>
                                    <div style="height:50px" class="d-flex justify-content-center align-items-center">
                                        <input name="RawAttributeValues[@j].AttributeId" type="hidden" value="@AttributeValue.Attribute.Id" disabled />
                                        <input name="RawAttributeValues[@j].AttributeType" type="hidden" value="Integer" disabled />
                                        <input name="RawAttributeValues[@j].AttributeValue" class="form-control form-control-sm w-auto text-center" disabled type="number" value="@IntegerAttributeValue.Value" />
                                    </div>
                                </td>
                            }
                            else if (AttributeValue is StringAttributeValue StringAttributeValue)
                            {
                                <td>
                                    <div style="height:50px" class="d-flex justify-content-center align-items-center">
                                        <input name="RawAttributeValues[@j].AttributeId" type="hidden" value="@AttributeValue.Attribute.Id" disabled />
                                        <input name="RawAttributeValues[@j].AttributeType" type="hidden" value="String" disabled />
                                        <input name="RawAttributeValues[@j].AttributeValue" class="form-control form-control-sm w-auto text-center" disabled type="text" value="@StringAttributeValue.Value" />
                                    </div>
                                </td>
                            }
                            else if (AttributeValue is DateAttributeValue DateAttributeValue)
                            {
                                <td>
                                    <div style="height:50px" class="d-flex justify-content-center align-items-center">
                                        <input name="RawAttributeValues[@j].AttributeId" type="hidden" value="@AttributeValue.Attribute.Id" disabled />
                                        <input name="RawAttributeValues[@j].AttributeType" type="hidden" value="Date" disabled />
                                        <input name="RawAttributeValues[@j].AttributeValue" class="form-control form-control-sm w-auto text-center" disabled type="date" value="@DateAttributeValue.Value?.ToLocalTime().ToString("yyyy-MM-dd")" />
                                    </div>
                                </td>
                            }
                            else if (AttributeValue is LinkAttributeValue LinkAttributeValue)
                            {
                                <td>
                                    <div style="height:50px" class="d-flex justify-content-center align-items-center">
                                        <input name="RawAttributeValues[@j].AttributeId" type="hidden" value="@AttributeValue.Attribute.Id" disabled />
                                        <input name="RawAttributeValues[@j].AttributeType" type="hidden" value="Link" disabled />
                                        <select name="RawAttributeValues[@j].AttributeValue" class="form-select form-select-sm w-auto text-center" disabled type="text" value="@LinkAttributeValue.Value">
                                        <option></option>
                                        @foreach (Object EntityObject in (AttributeValue.Attribute as LinkAttribute).LinkedEntity.Objects)
                                        {
                                            if (EntityObject.Id == LinkAttributeValue.Value)
                                            {
                                                <option value="@EntityObject.Id" selected>@EntityObject.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@EntityObject.Id">@EntityObject.Name</option>
                                            }
                                        }
                                        </select>
                                    </div>
                                </td>
                            }
                            else if (AttributeValue is FileAttributeValue FileAttributeValue)
                            {
                                <td>
                                    <div style="height:50px" class="d-flex justify-content-center align-items-center">
                                        <input name="RawAttributeValues[@j].AttributeId" type="hidden" value="@AttributeValue.Attribute.Id" disabled />
                                        <input name="RawAttributeValues[@j].AttributeType" type="hidden" value="File" disabled />
                                        <input name="RawAttributeValues[@j].File" class="form-control form-control-sm w-auto" type="file" style="display:none" disabled />
                                        @if (FileAttributeValue.FileId != null)
                                        {
                                            <div class="d-flex flex-row">
                                                <button type="button" class="btn btn-primary fileName" onclick="location.href='@Url.Action("GetFile", "EAV", new { FileId = FileAttributeValue.FileId })'">скачать файл</button>
                                                <button type="button" class="btn btn-danger ms-2 fileName" onclick="location.href='@Url.Action("DeleteFile", "EAV", new { FileId = FileAttributeValue.FileId })'">удалить файл</button>
                                            </div>
                                        }
                                    </div>
                                </td>
                            }
                            else if (AttributeValue is FloatAttributeValue FloatAttributeValue)
                            {
                                <td>
                                    <div style="height:50px" class="d-flex justify-content-center align-items-center">
                                        <input name="RawAttributeValues[@j].AttributeId" type="hidden" value="@AttributeValue.Attribute.Id" disabled />
                                        <input name="RawAttributeValues[@j].AttributeType" type="hidden" value="Float" disabled />
                                        <input name="RawAttributeValues[@j].AttributeValue" class="text-center rounded-3 card-text w-auto text-center" disabled type="text" value="@FloatAttributeValue.Value" />
                                    </div>
                                </td>
                            }
                            j++;
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex flex-row justify-content-between p-1" style="height:50px;">
        <div class="d-flex flex-row p-0 gap-1">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateObjectModal">Создать</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddAttributeModal">Добавить атрибут</button>
        </div>
        <div class="d-flex flex-row p-0 gap-1">
            <button type="button" id="history" class="btn btn-info me-2" disabled data-bs-toggle="modal" data-bs-target="#ObjectHistoryModal" onclick="ObjectHistory()">История изменения</button>
            <button type="button" id="edit" class="btn btn-primary" onclick="EditObject()" disabled>Редактировать</button>
            <button type="submit" id="confirm" class="btn btn-success" style="display:none">Сохранить</button>
            <button type="button" id="delete" class="btn btn-danger" onclick="DeleteObject()" disabled>Удалить</button>
        </div>
    </div>
</div>
}

<script>
    function SelectObject(ObjectId)
    {
        if (SelectedObjectId == ObjectId) return;

        if (ObjectInputs != null)
        {
            alert("Вы уже редактируете объект.");
            return;
        }

        let row = document.getElementById('tableRow-'+SelectedObjectId);
        if (row != null) row.classList.remove("table-active");

        SelectedObjectId = ObjectId;

        row = document.getElementById('tableRow-'+SelectedObjectId);

        if (row != null)
        {
            if (row != null) row.classList.add("table-active");
            document.getElementById('history').disabled = false;
            document.getElementById('edit').disabled = false;
            document.getElementById('delete').disabled = false;
        }
        else
        {
            document.getElementById('history').disabled = true;
            document.getElementById('edit').disabled = true;
            document.getElementById('delete').disabled = true;
        }
    }

    function DeleteObject()
    {
        if (SelectedObjectId === null) {
            alert("Пожалуйста, выберите объект для удаления.");
            return;
        }

        location.href = `@Url.Action("DeleteObject", "EAV")?ObjectId=` + SelectedObjectId;
    }

    function EditObject()
    {
        if (SelectedObjectId === null) {
            alert("Пожалуйста, выберите объект для редактирования.");
            return;
        }

        ObjectInputs = document.getElementById('tableRow-'+SelectedObjectId).querySelectorAll('input, select');
        ObjectInputs.forEach(input => {
            input.removeAttribute('disabled');
        });
        document.getElementById('tableRow-'+SelectedObjectId).querySelectorAll('input[type="file"]').forEach(input => {
            input.style.display = 'block';
        });
        document.getElementById('tableRow-'+SelectedObjectId).querySelectorAll('.fileName').forEach(fileButton => {
            fileButton.style.display = 'none';
        });
        document.getElementById('confirm').style.display = 'block';
        document.getElementById('edit').style.display = 'none';
    }

    function ObjectHistory()
    {
        if (SelectedObjectId === null) {
            alert("Пожалуйста, выберите объект для просмотра истории.");
            return;
        }

        $.ajax({
            url: `/EAV/ObjectHistory`,
            type: 'GET',
            data: { ObjectId: SelectedObjectId },
            success: function (data) {
                $("#ObjectHistory").html(data);
            }
        });
    }
</script>

<style>
    th:hover .deleteBtn {
        visibility: visible;
    }

    .deleteBtn {
        visibility:hidden;
        background: none;
        border: none;
        color: red;
        font-size: 24px;
        cursor: pointer;
    }
</style>