@using HomeERP.Models.EAV.Domain
@using Attribute = HomeERP.Models.EAV.Domain.Attribute
@using Object = HomeERP.Models.EAV.Domain.Object
@model (Entity Entity, List<Attribute> Attributes)

@using (Html.BeginForm("SearchObjects", "EAV", FormMethod.Get, new { id = "searchForm" }))
{
    <div class="filterContainer">
        <input name="EntityId" type="hidden" value="@Model.Entity.Id" />
        @{
            int k = 0;

            <div class="filter">
                <label>Имя:</label>
                <input name="NameSearchAttribute" class="text-center rounded-3 card-text border-3" type="text" placeholder="Введите название объекта..." value="@TempData["NameSearchAttribute"]" />
            </div>
            @foreach (Attribute Attribute in Model.Attributes)
            {
                if (Attribute.Type != AttributeType.File)
                {
                    <div class="filter">
                        <label>@Attribute.Name:</label>
                        @{
                            if (Attribute.Type == AttributeType.Integer)
                            {
                                <input name="SearchAttributes[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                <input name="SearchAttributes[@k].AttributeType" type="hidden" value="Integer" />
                                <input name="SearchAttributes[@k].Args[0]" class="text-center rounded-3 card-text border-3" type="number" placeholder="От" value="@((TempData[Attribute.Id.ToString()] as List<string>)?[0])" />
                                <input name="SearchAttributes[@k].Args[1]" class="text-center rounded-3 card-text border-3" type="number" placeholder="До" value="@((TempData[Attribute.Id.ToString()] as List<string>)?[1])" />
                            }
                            else if (Attribute.Type == AttributeType.String)
                            {
                                <input name="SearchAttributes[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                <input name="SearchAttributes[@k].AttributeType" type="hidden" value="String" />
                                <input name="SearchAttributes[@k].Args[0]" class="text-center rounded-3 card-text border-3" type="text" placeholder="Введите значение атрибута..." value="@((TempData[Attribute.Id.ToString()] as List<string>)?[0])" />
                            }
                            else if (Attribute.Type == AttributeType.Date)
                            {
                                <input name="SearchAttributes[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                <input name="SearchAttributes[@k].AttributeType" type="hidden" value="Date" />
                                <input name="SearchAttributes[@k].Args[0]" class="text-center rounded-3 card-text border-3" type="date" placeholder="От" value="@((TempData[Attribute.Id.ToString()] as List<string>)?[0])" />
                                <input name="SearchAttributes[@k].Args[1]" class="text-center rounded-3 card-text border-3" type="date" placeholder="До" value="@((TempData[Attribute.Id.ToString()] as List<string>)?[1])" />
                            }
                            else if (Attribute.Type == AttributeType.Link && Attribute is LinkAttribute LinkAttribute)
                            {
                                <input name="SearchAttributes[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                <input name="SearchAttributes[@k].AttributeType" type="hidden" value="Link" />
                                <select name="SearchAttributes[@k].Args[0]" class="text-center rounded-3 card-text border-3" placeholder="Выберите значение из списка..." value="@((TempData[Attribute.Id.ToString()] as List<string>)?[0])">
                                    <option></option>
                                    @foreach (Object Object in LinkAttribute.EntityObjects)
                                    {
                                        if (Object.Id.ToString() == (TempData[Attribute.Id.ToString()] as List<string>)?[0])
                                        {
                                            <option value="@Object.Id" selected>@Object.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Object.Id">@Object.Name</option>
                                        }
                                    }
                                </select>
                            }
                            // else if (Attribute.Type == AttributeType.File)
                            // {
                            //     <input name="SearchAttributes[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                            //     <input name="SearchAttributes[@k].AttributeType" type="hidden" value="File" />
                            //     <input name="SearchAttributes[@k].Args[0]" class="text-center rounded-3 card-text border-3" type="text" placeholder="Введите название файла..." value="@((TempData[Attribute.Id.ToString()] as List<string>)?[0])" />
                            // }
                            else if (Attribute.Type == AttributeType.Float)
                            {
                                <input name="SearchAttributes[@k].AttributeId" type="hidden" value="@Attribute.Id" />
                                <input name="SearchAttributes[@k].AttributeType" type="hidden" value="Float" />
                                <input name="SearchAttributes[@k].Args[0]" class="text-center rounded-3 card-text border-3" type="text" placeholder="От" value="@((TempData[Attribute.Id.ToString()] as List<string>)?[0])" />
                                <input name="SearchAttributes[@k].Args[1]" class="text-center rounded-3 card-text border-3" type="text" placeholder="До" value="@((TempData[Attribute.Id.ToString()] as List<string>)?[1])" />
                            }
                        }
                    </div>
                    k++;
                }
            }
        }
        <button class="buttonAction" style="width:200px;">Поиск</button>
    </div>
    <p></p>
}

<script>
    $('#searchForm').on('submit', function (e) {
        e.preventDefault();

        $.ajax({
            type: "GET",
            url: '/EAV/SearchObjects',
            contentType: "application/json",
            data: $(this).serialize(),
            success: function (data) {
                $("#explorerWindow").html(data);
            },
            error: function (result) {
                alert("Ошибка при выполнении запроса");
            }
        });
    });
</script>